@import url('./../public/style.scss');

.el-tag {
    margin: 5px;
    transition: all 0.2s;
}

.el-tag:hover {
    transform: translateY(-5px);
}

.col-button {
    text-align: end;
}

#control .el-row {
    width: 100%;
    line-height: 50px;
    margin-bottom: 10px;
}

.el-pagination {
    justify-content: center;
}

#result .el-col {
    margin-bottom: 30px;
}

#result .el-card {
    overflow-y: auto;
}