::selection {
    background-color: #FFDDE1;
}

::-webkit-scrollbar {
    display: none;
}

.page {
    display: flex;
    justify-content: center;
    color: var(--el-color-primary);
}

.pattern {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    opacity: 0.5;
    z-index: -1;
}

.pattern svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 200px;
}

.pattern .fill {
    fill: #FFDDE1;
}

.el-container {
    margin-top: 20px;
    min-width: 60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media screen and (max-width: 768px) {
    .el-container {
        min-width: 90%;
        max-width: 90%;
    }
}

.el-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--el-color-primary-light-9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.el-footer {
    padding: 20px;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.infinite-list {
    height: 500px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.infinite-list .infinite-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: var(--el-color-primary-light-9);
    margin: 10px;
    color: var(--el-color-primary);
}

.infinite-list .infinite-list-item+.list-item {
    margin-top: 10px;
}

.infinite-list .el-row {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--el-color-primary-light-9);
}

.infinite-list .el-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}