@import url('./../public/style.scss');

.infinite-list {
    height: 500px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.infinite-list .infinite-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: var(--el-color-primary-light-9);
    margin: 10px;
    color: var(--el-color-primary);
}

.infinite-list .infinite-list-item+.list-item {
    margin-top: 10px;
}

.infinite-list .el-row {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--el-color-primary-light-9);
}

.infinite-list .el-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}