@import url('./../public/style-v2.scss');

body {
    background-color: var(--el-fill-color);
}

.-page {
    display: inherit;
}

.ocean {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--el-fill-color);
    z-index: -233;
}

.ocean .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 300vh;
    height: 300vh;
    transform: translate(-16%, -80%);
    border-radius: 40%;
    background-color: var(--el-color-primary-light-9);
    animation: wave_action 20s linear infinite;
    z-index: -1;
}

@keyframes wave_action {
    100% {
        transform: translate(-16%, -80%) rotate(360deg);
    }
}

.ocean .bubble {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 100px;
    bottom: 200px;
    border-radius: 50%;
    background-color: var(--el-color-primary-light-9);
    animation: bubble_action 5s ease-in infinite;
    opacity: 0;
    z-index: -1;
}

.ocean .bubble:nth-child(1) {
    width: 50px;
    height: 50px;
    left: 100px;
    bottom: 200px;
    animation-duration: 5s;
    animation-delay: 1s;
}

.ocean .bubble:nth-child(2) {
    width: 30px;
    height: 30px;
    left: 200px;
    bottom: 200px;
    animation-duration: 2s;
    animation-delay: 2s;
}

.ocean .bubble:nth-child(3) {
    width: 60px;
    height: 60px;
    left: 250px;
    bottom: 100px;
    animation-duration: 6s;
    animation-delay: 0s;
}

.ocean .bubble:nth-child(4) {
    width: 30px;
    height: 30px;
    left: 300px;
    bottom: 150px;
    animation-duration: 3s;
    animation-delay: 1.5s;
}

.ocean .bubble:nth-child(5) {
    width: 20px;
    height: 20px;
    left: 80px;
    bottom: 200px;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes bubble_action {
    0% {
        transform: translateX(0px) scale(1);
        opacity: 0;
    }

    5% {
        opacity: 1.0;
        transform: translateX(10px);
    }

    40% {
        transform: translateX(50px) scale(0.8);
    }

    100% {
        bottom: 100vh;
        transform: translateX(-50px);
        opacity: 0.6;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
}

.avatar {
    margin-top: 2px;
    margin-left: 10px;
    height: calc(var(--el-menu-item-height) - 2px);
    /* Because the active button had a 2px bottom border. */
    cursor: pointer;
}

.spaceholder {
    flex-grow: 1;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.core {
    margin-top: 100px;
}

.box {
    width: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: saturate(10px);
    box-shadow: var(--el-box-shadow-fuller);
    padding-bottom: 30px;
}

.title_A,
.title_AA,
.title_AAA,
p,
span,
a {
    padding-left: 20px;
    padding-right: 20px;
}

.title,
.subtitle,
.detail {
    text-align: center;
}

.title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--el-color-danger-light-5);
}

.subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--el-color-success-light-5);
}

.detail {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    color: var(--el-color-primary-light-7);
}

.title_A {
    font-size: 24px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--el-color-danger-light-5);
    border-left: 3px solid var(--el-color-danger-light-5);
}

.title_AA {
    font-size: 22px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--el-text-color-primary);
    border-left: 3px solid var(--el-text-color-primary);
}

.title_AAA {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--el-text-color-regular);
    border-left: 3px solid var(--el-text-color-regular);
}

p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--el-text-color-regular);
}

.headimg {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.headimg img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .avatar {
        margin-left: 0px;
    }

    .box {
        width: 100%;
    }
}